*{
  margin: 0;
  padding: 0;
}

.image1 {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 100px;
}

header {
  background-color: #e4002b;
	height: 90;
  color: #fff;
}

.right_header {
  float: right;
  font-size: 14px;
}



.r1{
  background-color: #a6192e;
}

.r1:hover{
  transform:background-color 0.5s linear 0s;
  background-color: #6e182e;
}



ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul {
	
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

video {
	width: 100%;
	height: 545px;
	object-fit:fill;
  position: absolute;
	z-index: -9999;
}

.tittle {
	z-index: 1;
}

.™ {
display: inline-block;
}

.™1 {
display: inline-block;
margin-left: 400px;
}

ul,a{
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
  color:#fff;
  text-decoration: none;
}

a{
  display: block;
}

.plat{
  display: none;
  background-color: #e4002b;
  position: absolute;
  z-index: 9999;
}

nav:hover .plat{
  display: block;
  clear: both;
  white-space:nowrap;
}

nav{
  position: absolute;
  top: 50px ;
  float: left;
  margin-left: 45px;
  position: relative;
  left: 120px;
  white-space:nowrap;
}

.plat li:hover>a{
  background-color: #a6192e;
}

nav :first-child:hover{
  border-bottom: 5px solid #fff;
  padding-bottom: 5px;
  border-width: 2px;
}



.tittle{
  text-align: center;
  font-size: 75px;
  color: #fff;
  position: relative;
  top: 150px;
}

.broad{
  text-align: center;
  position: relative;
  top: 150px;
}

.broad>a{
  display: inline-block;
  padding: 9px 14px 9px 14px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.broad :hover{
  transition:color 0.3s linear 0s;
  color: #000;
  transform:background-color 0.5s linear 0s;
  background-color: #fff;
}

.plat{
  padding: auto;
}
.plat:hover{
  padding: auto;
}