*{
  margin: 0;
  padding: 0;
}

.image1 {
  display: inline-block;
  position: absolute; /*图片定位*/
  top: 20px;
  left: 100px;
  z-index: 999; /*定位后才能定义Z轴*/
  pointer-events: none; /*使鼠标的事件效果无效化*/
}

.backgund{
  pointer-events: auto; /*有效化阻止继承*/
}

header {
  background-color: #e4002b; /*文字样式*/
	height: 90;
  color: #fff;
  width:100%
}

ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

video {
	width: 100%; /*宽度沾满整个屏幕*/
	height: 545px;
	object-fit:fill;
  position: absolute; /*不定位不能设置Z轴*/
	z-index: -9999;
}

a{
  display: block;
  color:#fff;
  text-decoration: none; /*去掉超链接下划线*/
  text-align: justify; /*使每一行宽度相同*/

}

.plat{
  display: none; /*隐藏*/
  background-color: #e4002b;
  position: absolute;
  z-index: 9999;
  padding: 5px;
}

nav:hover .plat{
  display: inline-block; /*hover时出现*/
  white-space:nowrap; /*不换行*/
  background-color: #a6192e;
}

nav{
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
}

.broad{
  font-weight: bold;
  font-size: 15px;
}

nav{
  position: absolute;
  top: 50px ;
  float: left;
  margin-left: 45px;
  position: relative;
  left: 120px;
  white-space:nowrap;
}


nav>a:hover{
  border-bottom: 5px solid #fff;
  padding-bottom: 5px;
  border-width: 2px;
  font-size: initial
}

nav:last-child{
  float:right;
  position: relative;
  left: 310px;
}

.tittle{
  text-align: center;
  font-size: 70px;
  color: #fff;
  position: relative;
  top: 150px;
  z-index: 99;
  /*font-style: ;*/
}

.broad{
  text-align: center;
  position: relative;
  top: 150px;
}

.broad>a{
  display: inline-block;
  padding: 9px 14px 9px 14px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.broad :hover{
  transition:color 0.3s linear 0s;
  color: #000;
  transform:background-color 0.5s linear 0s; /*颜色平滑变化*/
  background-color: #fff; /*决定变色的色*/
}

.plat .plat:hover{
  padding: auto;
}

.right_header{
  float: right;
  margin-right: 100px;
}

.r1,.r2,.r3{
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}


.r1{
  padding: 10px 5px;
    background-color: #a6192e;
}

.r1:hover{
  transform:background-color 0.5s linear 0s; 
  background-color: #6e182e; 
}


.backgund{
  display: inline-block;
  width: 58px;
  height: 59px;
  background-color: #e4002b;
  position: absolute;
  right: 2px;
  z-index: -999;
  transition: all 0.1s;  /*动画效果持续时间*/
}

.backgund:hover{
  background-color: #a6192e;
  transform:scale(1.2); /*放大比例*/
  transition:all 0.1s ease-in-out 0s;  /*放大效果和持续时间*/
}
