*{
  margin: 0;
  padding: 0;
}

header {
  background-color: #e4002b;
	height: 90;
  color: #fff;
}

.right_header {
  float: right;
  font-size: 14px;
}



ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul {
	
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

video {
	width: 100%;
	height:500px;
	object-fit:fill;
  position: relative;
	z-index: -9999;
}

.tittle {
	z-index: 1;
}

.™ {
display: inline-block;
}

.™1 {
display: inline-block;
margin-left: 400px;
}

ul,a{
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
  color:#fff;
  text-decoration: none;
}

a{
  display: block;
}

.plat{
  display: none;
  background-color: #e4002b;
  position: absolute;
  z-index: 9999;
}

nav:hover .plat{
  display: block;
  clear: both;
}

nav{
  float:left;
  margin-left: 2px;
}

.plat li:hover>a{
  background-color: #a6192e;
}

nav :first-child:hover{
  border-bottom: 5px solid #fff;
  border-width: thin;
}